name: Learning CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Install dependencies
        run: npm install

      - name: Run tests
        run: npm test

      - name: Send test report to dashboard
        run: |
          curl -X POST https://httpbin.org/post \
            -H "Content-Type: application/xml" \
            --data-binary @junit.xml
