name: Learning CI

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Run tests
        run: npm test

      - name: Upload result
        uses: actions/upload-artifact@v4
        with:
          name: result
          path: result.txt
